@page
@model IndexModel

<section class="text-center p-5 bg-light">
    <img src="~/img/LOGIHUB.png" />
    <h4> Magnase Fonte</h4>
    <a class="btn btn-lg mt-3" href="/Track" style="background-color:#398007; color:white;">Track a Shipment</a>


</section>

<section class="container mt-5 bg-light">

<div class="row text-center">
    <div class="column col-md-4">
        <i class="bi bi-truck fs-1" style="color:#398007;"></i>
        <h4>Real-time Tracking</h4>
        <p>Live updates on shipment location and delivery status.</p>
    </div>
    <div class="column col-md-4">
        <i class="bi bi-box-seam fs-1" style="color:#398007;"></i>
        <h4>Warehouse Inventory</h4>
        <p>Accurate and up-to-date warehouse transaction records.</p>
    </div>
    <div class="column col-md-4">
        <i class="bi bi-people fs-1" style="color:#398007;"></i>
        <h4>Vendor & Supplier Management</h4>
        <p>Secure integration with vendor and supplier APIs.</p>
    </div>
</div>

</section>

<section class=" text-center py-5 mt-5 bg-light">

<h2>Get Started Today</h2>
<p class="mb-4">Empower your logistics workflow with LogiHub</p>
<a class="btn btn-light btn-lg" href="/Register" style="background-color: #398007; color:white;">Create an Account </a>

</section>
