@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    At LogiHub, your privacy is a priority. We collect only the essential information—such as name, contact, and location data—to deliver our logistics and geotracking services smoothly and securely.
</p>

<p>
    Your data is used solely to enhance your experience, manage deliveries, and enable real-time tracking. We do not sell or share your information without consent, unless legally required.
</p>

<p>
    We apply strong security measures to protect your data, including encryption and secure servers. Your information is handled with the highest confidentiality and integrity.
</p>

<p>
    By using LogiHub, you agree to this policy. We may update it occasionally, and any changes will be reflected here. For questions, reach out to us at <a href="mailto:support@logihub.com" class="text-decoration-none" style="color: #398007;">support@logihub.com</a>

</p>
